ul {
    list-style: none;
    padding: 100px;
    margin: 100px;
    background-color: blueviolet;
}

a {
    background-color: #333;
    color: aqua;
    padding: 10px;
    text-decoration: none;
}

li {
    display: grid;
    margin-bottom: 10px;
}